body {
  margin: 0;
  background-image: url("../assets/images/hero.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.hero {
  position: relative;
  height: 100vh;
  background-image: url("../assets/images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  color: white;
  font-size: 20px;
  padding: 30px;
}

.hero-content {
  max-width: 750px;
  text-align: center;
  animation: fadeInUp 1.2s ease-in-out;
  margin-top: -50px;
}

.hero-content h2 {
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.hero-content h2 .highlight {
  color: #42e69a;
  padding: 0 0.5rem;
  border-radius: 5px;
}

.hero-content .hero-tagline {
  font-size: 1.75rem;
  font-weight: 500;
  color: #f1f1f1;
  margin-bottom: 1.5rem;
  letter-spacing: 4px;
  margin-top: -20px;
}
.btn-primary {
  background: #259b68;
  color: #ffffff;
  padding: 0.8rem 1.6rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: 2px solid #867e5f6f;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background: rgb(20, 147, 20);
  color: #ffffff;
  transform: translateY(-3px);
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .hero {
    background-image: url("../assets/images/hero_mini.png");
  }
  .hero-content {
    margin-top: -70px;
  }
  .hero-content h2 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    padding: 0 1rem;
    margin-bottom: 20px;
  }

  .hero-content .hero-tagline {
    font-size: 1.25rem;
    padding: 0 1rem;
    margin-bottom: 20px;
  }

  .hero-content .hero-description {
    font-size: 1rem;
    padding: 0 1rem;
    margin-bottom: 20px;
  }
}
